
body{
    background-color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
    color: #61656D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background: #FFFFFF;
    width: 798px;
    height: auto;
    padding: 20px 27px;
    margin-top: 24px;
    border-radius: 5px;
    box-sizing: border-box;
}

.title{
    color: #FF6A28;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.subtitle{
    font-size: 16px;
} 

.main-image{
    margin-top: 14px;
    margin-bottom: 10px;
}

.info-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-box__item{
    width: 118px;
    height: 85px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F0F0F0;
}

.info-span{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16.8px;
    padding-top: 4px;
}
.info-strong{
    font-size: 14px;
    font-weight: 700;
    color: #FF6A28;
    text-transform: uppercase;
}

.member-box{
    width: 238px;
    height: 85px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F0F0F0;
    box-sizing: border-box;
}

.member-box__img{
    width: 60px;
    height: 60px;
}

.name-strong{
    font-size: 14px;
    color: #FF6A28;
    font-weight: 700;
}

.since-member{
    font-size: 14px;
}

.info-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}